@import "../../colors.scss";

.table {
  width: 100%;
  border-collapse: collapse;
  &__wrapper {
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid #e6e7eb;
  }
  &__row {
    height: 2.5rem;
    &.header {
      background-color: #f7f7f7;
    }
    &:not(.header) {
      &:hover {
        background-color: #f3f0fc;
      }
    }
    &:not(:last-child) {
      border-bottom: 1px solid #e6e7eb;
    }
  }
  &__cell {
    text-align: center;
    color: #3b3c3b;
    &.icon {
      cursor: pointer;
      a {
        font-family: "Material Icons Outlined";
        display: contents;
        color: #3b3c3b;
        &:hover {
            color: $purple;
            font-weight: 600;
          }
      }
    }
  }
  &__header {
    color: #767689;
    font-weight: 400;
  }
}
